.wallpaper {
  background-color: #00CEBE;
  padding: 15px;
  margin-bottom: 25px;
}

.backing {
  background-color: gray;
  padding-bottom: 15px;
}


.map {
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 25px;
}

.address {
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: justify;
}

.sitemap {
  margin-top: 20px;
  height: 400px;
  width: 400px;
  padding: 25px;
}

.info  {
  margin-top: 40px;
  border-color: #fff;
  border-style: solid;
  padding: 20px;
  margin-right: 25px;
  height: 500px;
  margin-left: 25px;
}
