/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Della+Respira|Suravaram');
/*Universals*/

.navbar-inverse .navbar-nav>li>a, .jumbo-text, h1, h3 {
  text-shadow: .5px, .5px, .5px #333;
}

h1, h3 {
  padding-bottom: 25px;

}

/*media query
@media only screen and (max-width: 500px) {
  h1, h3{background-color: gold;}
  body {background-color: #4395D1;}
}
*/


/*Navbar Section Begins*/

.navbar-toggle {
  background-color: red;

}
.navbar-brand {
  height: 50px;

}
.navbar-inverse {
  background-color: white;
  font-family: 'della respira', serif;
  font-size: 20px;
  border: none;
}



.navbar-inverse .navbar-nav>li>a {
  color:#585858;
  padding-top: 50px;
  }

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  /*background-color: #00D890;*/
  color: #3D3737;
}

/*Hero Section Begins*/

.jumbotron {
  background-image: url('../img/time2go.jpg');
  background-size: cover;
  background-position: center;
  height: 450px;
}

.jumbo-text {
  font-family: serif;
  color: #D3C6C6;
  font-weight: 400;
  font-size: 30px;
  font-style: bold;


}

/*Hero Section Ends*/


h3 {
  font-size: 42px;
  font-family: 'Suravaram', serif;
  color: #585858;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-family: 'Della Respira', serif;
  color: #585858;
  margin-bottom: 35px;
  margin-top:15px;
}

/*footer styles*/

footer {
  height: 150px;
  background-color: #333;
  padding-top: 15px;
  text-align: center;
}

.tag {
   color: silver;
 }
