.hr {
  font-size: 2px;
  color: black;
}

.portfolio {
  text-align: center;
}

/*Carousel Styles*/
.item {
  height: 450px;
  background-size: cover;
  background-position: center;

}

.carousel-flex {
  height: 450px;
  display: flex;
  align-items: center;
}

#wood-background {
  background-image: url('../img/wood-2.jpg');
}

#carousel-logo {
  height: 250px;
}

h4, h5 {
  color: #fff;
  font-weight: 400;
  font-family: 'Suravaram', serif;
}

h4 {
  font-size: 50px;
}

#pet-store {
  background-image: url('../img/hero.jpg');
}

#ABC {
  background-image: url('../img/yosemite122.jpg');
}

#pet-date {
  background-image: url('../img/petwalk2.jpg');
}
.carousel-caption {
  margin-bottom: 45px;
}

#table {
  background-color: #0CB59E;
  padding-top: 65px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 65px;
}

#label {
  padding-top: 15px;
  padding-bottom: 15px;
}

h5 {
  font-size: 28px;
}
